.cardPage-wrapper {
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.cardPage-box-img {
  max-height: 500px;
  max-width: 500px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cardPage-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardPage-info-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  flex-grow: 3;
}

.cardPage-title {
  font-size: 37px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 20px;
}

.cardPage-description {
  color: #292929;
  font-size: 14px;
}

.cardPage-description-title {
  font-size: 23px;
  line-height: 24px;
  margin: 0;
}

.cardPage-description-instruction {
  border-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 20px;
}

.cardPage-price {

}

.cardPage-button-wrapper {
  max-width: 600px;
}