.category-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 40px;
}

@media(max-width: 768px) {
  .category-box {
    justify-content: center;
  }
}